.wrapper {
  @include outer-container;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
}

.hero {

}

.video-container {
  @include animation(slideDown 0.6s .55s 1 backwards);
  padding-bottom: 56.25%;
  position: relative;
  height: 0;

  p {

    @include media($medium-screen) {
      @include position (absolute, null null 100px 50%);
      color: white;
      width: 200px;
      margin-left: -100px;
    }
  }
}

video {
  @include position(absolute, 0px 50% 0px 0px);
}

.color {
  @include position(absolute, 0px 0px 0px 0px);
  background-color:$dark-gray;
  opacity: 0.90;
}

header {
  position: relative;
}

.header-copy {
  @include position(absolute, 0px 0px 0px 0px);;
  @include align-items(center);
  @include display(flex);
  @include flex-direction(column);
  @include justify-content(center);
  color: white;

  h1 {
    font-weight: 700;
    z-index: 10;
  }

  h4 {
    margin: 25px 0 100px;
    font-weight: 400;
  }
}

.row {
  padding: 200px 0;

  &:nth-child(even) {
    background: $light-gray;
  }
}

.button-wrapper {
  @include span-columns(12);
  @include omega;

  h4 {
    color: $medium-gray;
    font-weight: 400;
  }

  @include media($medium-screen) {
    @include span-columns(6);
  }
}

.button {
  @include transition(all linear 0.2s);
  border-radius: 5px;
  cursor: pointer;
  display: block;
  font-size: $base-font-size * 1.5;
  font-weight: 600;
  padding: em(15) em(25);
  text-align: center;
  margin: em(60) auto em(40);
  width: em(200);
}

.button1 {
  @extend .button;
  border: 2px solid $red;
  color: $red;

  &:hover, &.active {
    background: $red;
    color: white;
  }
}

.button2 {
  @extend .button;
  border: 2px solid $green;
  color: $green;

  &:hover, &.active {
    background: $green;
    color: white;
  }
}

.your-type {
  background: $dark-gray;
  color: white;
  display: none;
  padding: em(100) 0 em(100);
  text-align: center;

  a {
    background: white;
    color: $green;
    border-radius: em(5);
    display: block;
    margin: em(20) auto;
    padding: em(10) em(20);
    width: em(200);
  }

  p {
    font-size: em(18);
    font-weight: 200;
  }
}

.explore {
  margin: em(100) 0 em(100);
  text-align: center;
}

.types-wrapper {
  margin: 0 em(60);
}

.types {
  @include span-columns(6);
  @include omega;
  @include size(em(460) em(318));
  color: white;
  margin-top: em(25);
  padding-top: em(100);



  a {
    background: $green;
    border-radius: em(3);
    color: white;
    display: inline-block;
    float: left;
    font-weight: 600;
    padding: em(5) em(15);
    margin: em(5);
  }

  ul {
    padding: em(30) 0 0 em(80);
  }
}

.text-wrapper {
  padding-bottom: em(55);

  p {
    padding-top: em(25);
    font-size: em(18);
  }
}

.the-artisan {
    background-image: image-url('../images/SP.png');
    margin-right: 20px;
}

.the-guardian {
    background-image: image-url('../images/SJ.png');
}

.the-rationalist {
    background-image: image-url('../images/NT.png');
    margin-right: 20px;
}

.the-idealist {
    background-image: image-url('../images/NF.png');
}

footer {
  background: $dark-gray;
  color: white;
  padding: em(100) 0;
  text-align: center;

  h3 {
    font-weight: 300;
    padding-bottom: em(30);

    a {
    color: white;
    font-weight: 500;
    text-decoration: underline;

      &:hover, &:visited {
        color: white;
        cursor: pointer;
      }
    }
  }
}
