.wrapper {
  @include outer-container;
  margin: em(0) em(10);

  @include media($medium-screen) {
    margin: 0 auto;
  }
}

.explore {
  .wrapper {
    margin: em(0);

    @include media($medium-screen) {
      margin: 0 auto;
    }
  }
}
h1, h2, h3, h4, h5, h6 {
  text-align: center;
}

.video-container {
  @include animation(slideDown 0.6s .55s 1 backwards);
  padding-bottom: 56.25%;
  position: relative;

}

video {
  @include position(absolute, 0px 50% 0px 0px);
}

.color {
  @include position(absolute, 0px 0px 0px 0px);
  background-color:$dark-gray;
  opacity: 0.90;
}

header {
  position: relative;
}

.header-copy {
  @include position(absolute, 0px 0px 0px 0px);;
  @include align-items(center);
  @include display(flex);
  @include flex-direction(column);
  @include justify-content(center);
  color: white;

  h1 {
    font-size: em(35);
    padding: em(10) 0 em(5);

    @include media($medium-screen) {
      font-size: em(65);
    }
  }

  h4 {
    margin-bottom: em(15);
    font-weight: 400;
    font-size: em(17);

    @include media($mobile-screen) {
      font-size:em(25);
    }
  }

  .scroll {
    @include position(absolute, null null 5px 50%)
    bottom: 5px;
    left: 50%;
    margin-left: -75px;
    width: 152px;

    p {
      color: white;
      display: block;
    }
  }
}

.row {
  padding: 100px 0;

  @include media($mobile-screen) {
    padding: 200px 0;
  }

  &:nth-child(even) {
    background: $light-gray;
  }
}

.button-wrapper {

  h4 {
    color: $medium-gray;
    font-weight: 400;
  }

  @include media($large-screen) {
    @include span-columns(12);
    @include omega;
  }

  @include media($medium-screen) {
    @include span-columns(6);
  }
}

.button {
  @include transition(all linear 0.2s);
  border-radius: 5px;
  cursor: pointer;
  display: block;
  font-size: $base-font-size * 1.5;
  font-weight: 600;
  padding: em(15) em(25);
  text-align: center;
  margin: em(60) auto em(40);
  width: em(200);
}

.button1 {
  @extend .button;
  border: 2px solid $red;
  color: $red;

  &:hover, &.active {
    background: $red;
    color: white;
  }
}

.button2 {
  @extend .button;
  border: 2px solid $green;
  color: $green;

  &:hover, &.active {
    background: $green;
    color: white;
  }
}

.your-type {
  background: $dark-gray;
  color: white;
  display: none;
  padding: em(100) em(10);
  text-align: center;

  a {
    background: white;
    border-radius: em(5);
    color: $green;
    display: block;
    margin: em(20) auto;
    padding: em(10) em(20);

    @include media($medium-screen) {
      width: em(200);
    }
  }

  p {
    font-size: em(18);
    font-weight: 200;
  }
}

.explore {
  margin: em(100) 0 em(100);
  text-align: center;
}

.types {
  color: white;
  height: em(352);
  margin-top: em(25);
  padding-top: em(100);

  a {
    background: $green;
    border-radius: em(3);
    color: white;
    display: inline-block;
    float: left;
    font-weight: 600;
    margin: em(5);
    padding: em(5) em(15);
  }

  ul {
    margin: 0 auto;
    padding-top: em(30);
  }
}

.group1 {
  @include media($medium-screen) {
    @include span-columns(6);
  }
}

.group2 {
  @include media($medium-screen) {
    @include span-columns(6);
    @include omega();
  }
}

.text-wrapper {
  margin: em(0) em(10);
  padding-bottom: em(55);

  p {
    padding-top: em(25);
    font-size: em(18);
  }
}

.the-artisan {
  background: url('../images/SP.png') no-repeat;
  background-position: center center;
  background-size: cover;

  ul {
    max-width: 306px;
  }
}

.the-guardian {
  background: url('../images/SJ.png') no-repeat;
  background-position: center center;
  background-size: cover;

  ul {
    max-width: 300px;
  }
}

.the-rationalist {
  background: url('../images/NT.png') no-repeat;
  background-position: center center;
  background-size: cover;

  ul {
    max-width: 319px;
  }
}

.the-idealist {
  background: url('../images/NF.png') no-repeat;
  background-position: center center;
  background-size: cover;

  ul {
    max-width: 312px;
  }
}

footer {
  background: $dark-gray;
  color: white;
  padding: em(100) 0;
  text-align: center;

  h3 {
    font-weight: 300;
    padding-bottom: em(30);

    a {
    color: white;
    font-weight: 500;
    text-decoration: underline;

      &:hover, &:visited {
        color: white;
        cursor: pointer;
      }
    }
  }
}
